.gridContainer {
  overflow-y: auto;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-inner-2dp);
  background-color: var(--color-white);
  padding: var(--spacing-xl) var(--spacing-md);

  flex: 1;
  display: grid;
  gap: var(--spacing-sm);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, 104px);
}

.message {
  text-align: center;
  padding: var(--spacing-3xl);
  color: var(--color-text-secondary);

  grid-column: 1 / -1;
}

.sentinel {
  opacity: 0;
  height: 1px;
  width: 1px;
}

@media (min-width: 640px) {
  .gridContainer {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 768px) {
  .gridContainer {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media (min-width: 1024px) {
  .gridContainer {
    grid-template-columns: repeat(10, 1fr);
  }
}

@media (min-width: 1280px) {
  .gridContainer {
    grid-template-columns: repeat(10, 1fr);
  }
}

@media (min-width: 1536px) {
  .gridContainer {
    grid-template-columns: repeat(10, 1fr);
  }
}

