.appContainer {
  min-height: 100dvh;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  padding: var(--spacing-xs);
  background-color: var(--pokemon-background-type);
  position: relative;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  z-index: 1;
}

.pokeBallIcon {
  position: absolute;
  top: var(--spacing-xs);
  right: var(--spacing-xs);
  color: var(--color-white);
  opacity: 0.1;
}

.templateContainer {
  flex: 1;
  display: flex;
  flex-direction: column;  
}