.appContainer {
  min-height: 100dvh;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  padding: var(--spacing-xs);
  background-color: var(--color-primary);
}

.mainContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.templateContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

