.header {
  color: white;
}

.headerContent {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  justify-content: space-between;
  color: var(--color-white);
  padding: 1.25rem;
}

.headerTitle {
  flex-grow: 1;
  text-transform: capitalize;
}

