.reset {
  appearance: none;
  -webkit-appearance: none;

  border: 0;
  padding: 0;
  margin: 0;

  background: transparent;
  color: inherit;

  font: inherit;
  line-height: inherit;
  text-align: inherit;
  cursor: pointer;
}

.card {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: var(--color-surface);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-drop-2dp);
  transition: all var(--transition-base);
  outline: none;

  width: "100%";
  height: "100%";
  min-height: 104px;
}

.imageContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.containerNumber {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: var(--spacing-xs) var(--spacing-sm) 0px;
  gap: var(--spacing-sm);
}

.containerName {
  width: 100%;
  height: 44px;  
  border-radius: 7px;
  background-color: var(--color-gray-background);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: var(--spacing-xs);
}

.name {
  text-align: center;
}

.cardSkeleton {
  width: 100%;
  height: 108px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.06) 25%,
    rgba(0, 0, 0, 0.12) 37%,
    rgba(0, 0, 0, 0.06) 63%
  );
  border-radius: var(--radius-md);
}