.container {
  min-height: 100dvh;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  padding: var(--spacing-xs);
  position: relative;
}

.mainContent {  
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  z-index: 1;
}