.controlsContainer {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-md);
  margin: 0 var(--spacing-md);
  margin-bottom: var(--spacing-xl);
}

.popoverPanel {
  height: 132px;
  background-color: var(--color-primary) !important;
  box-shadow: var(--shadow-drop-6dp);

  display: flex;
  flex-direction: column;
  padding: var(--spacing-xs);
  padding-top: 0;
}

.popoverTitle {
  color: var(--color-white);
  padding: var(--spacing-lg) 20px;
}

.popoverContent {
  flex: 1;
  border-radius: 0.5rem;
  background-color: var(--color-white);
  padding: var(--spacing-lg) 20px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

